body{
    background-color:white;
    margin: 1px;
    
}
h2{
    color: rgb(8, 8, 83);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
.navbar{
    
    background-color: rgb(243, 243, 247);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width:97.5%;
    top:0;
    left: 0;
    padding-right: 20px;
    padding-left: 20px;

ox-shadow: 0 3px 5px rgb(140, 137, 137);
box-shadow: 0 2px 10px 10px rgb(125, 195, 233);
}
.navbar a{
    text-decoration: none;
    gap: 10px;
    text-align: right;
    transition:cubic-bezier(0.47, 0, 0.745, 0.715);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 8, 83);
    
}
.navbar ul{
display: flex;
gap: 1.9rem;
text-decoration: none;
list-style-type: none;

}
a:hover{
cursor: pointer;
color: orange;
}
.hero{
    position: absolute;
    left:200px;
    top:250px;
    display: block;

}
#tal {
color:rgb(241, 132, 7);


}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 30px;
}
span{
    color: brown;
}
h1{
    font-size: 50px;
    color:rgb(8, 8, 83);
}
 .navbar ul:after {
    content: '';
    width: 40px;
    height: 4px;
    background: orange;
    position: absolute;
    right: 25%;
    top:50px;
    transform: translateX(-50%);
  }
  .photo{
    position: absolute;
    right:20%;
    top:130px;
    display: flex;

  }
  .icons{
    display: flex;
    gap: 1.9rem;
  }
  .logo{
    position: relative;
    top:10px;
  }
  .logo:hover{
    cursor: pointer;
  }
  /* Dropdown Button */
.dropbtn {
    background-color: rgb(243, 243, 247);
    color: rgb(44, 42, 98);
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: white;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #about{
   display: block;
   position: absolute;
   top:700px;
   
  }
  .heading h1{
    margin-bottom: 100px;
     border-bottom-width: 2px;
    text-align: center;
    font-size: 40px;
  }
  h4{
    font-family:monospace;
    font-weight: 500;
    color: rgb(110, 110, 110);
    
  }
  
  .container{
    
    width:65.5%;
    padding:20px;
    margin:auto;
   text-align: justify;
    border-radius: 19px;
    justify-content: center;
    box-shadow: 0 2px 10px 10px rgb(125, 195, 233);
    display: flex;
   
    align-items: center;
    
    
  }
  .heading:after{
    content: '';
    width: 50px;
    height: 4px;
    background: orange;
    position: absolute;
    right: 50%;
    top:110px;
    transform: translateX(-50%);
  }
  .container p{
    color:rgb(132, 130, 130);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-break:auto;
  
  }
  #Skills{
    position: relative;
    top:1200px;
  }
  .cards{
    display:block;
    gap:1.9em;
    position: absolute;
    justify-content: space-between;
    top:160%;
    right:18%;
    
    width:70%;
  }
 
  .cards h1{
    text-align: center;
  }
  .cards h1:after{
    content: '';
    width: 50px;
    height: 4px;
    background: orange;
    position: absolute;
    right: 45%;
    top:90px;
    transform: translateX(-50%);
  }
  #Skills{
    
text-align: center;
  }

  #Projects{
    position: absolute;
    top: 230%;
    text-align: center;
   
  }
  #Projects h1{
    position: relative;
    left:650px;
    text-align: center;
    

  }
  #Projects h1:after{
    content: '';
    width: 50px;
    height: 4px;
    background: orange;
    position: absolute;
    right: 49%;
    top:53px;
    transform: translateX(-50%);
  }
  .flex-container{
    display: flex;
    position:absolute;
    left: 200px;
    top:200px;
    
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px 10px rgb(125, 195, 233);

  }
  .box1{
    margin-right: 100px;
  }
  .box2{
    margin-right: 100px;
  }
  

 #contact{
  text-align: center;
 }
    
  
#contact {
  position: relative;
  top:2200px;
  text-align: center;
}
#contact h1:after{
  content: '';
  width: 50px;
  height: 4px;
  background: orange;
  position: absolute;
  right: 45%;
  top:50px;
  transform: translateX(-50%);}
  .formcontainer{
    
    align-items: center;
    position: relative;
    top:30px;
   width:80%;
   left:140px;
    height: 500px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
    box-shadow: 0 2px 10px 10px rgb(125, 195, 233);
    border-radius: 10px;
  }
  form{
    position: absolute;
    left:80px;
    z-index: 999;
    margin: 90px;
  }
  input{
    margin:10px;
    height: 40px;
    width:200px;
    border-radius: 10px;
    
  }
  textarea{
    margin:10px;
    height: 40px;
    width:200px;
    border-radius: 10px;
    border: 2px solid rgb(16, 15, 13);
    
  }
  .btn{
background-color: rgb(20, 20, 70);
color: aliceblue;
border-radius: 10px;
box-shadow: 0  5px 5px rgb(79, 79, 231);
width: 100px;
height: 30px;
cursor: pointer;

  }
  .btn:hover{
    background-color: rgb(145, 195, 239);
    color: black;
  }
  .contactimg{
    position: relative;
    top:0px;
    left:150px;
  }
  .project-btn{
    background-color: rgb(20, 20, 70);
color: aliceblue;
border-radius: 10px;
box-shadow: 0  5px 5px rgb(79, 79, 231);
width: 100px;
height: 40px;
cursor: pointer;
  }
.resume-btn{
  background-color: rgb(20, 20, 70);
color: aliceblue;
border-radius: 10px;
box-shadow: 0  5px 5px rgb(79, 79, 231);
width: 100px;
height: 40px;
cursor: pointer;
}
.resume-btn:hover{
  background-color: rgb(243, 133, 8);
    color: rgb(10, 9, 9);
    box-shadow: 0  5px 5px rgb(235, 193, 121);
}